body,
html,
#root {
  display: flex;
  flex-direction: folumn;
  flex: 1;
  min-height: 100vh;
  /* min-width: 100vw; */
}
.App {
  flex: 1;
  width: 100%;
  background-color: hsl(0, 0%, 94%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 60px;
}
.Columns {
  display: flex;
  align-items: flex-start;
  margin: 0 -0.5rem;
}
.Column {
  margin: 0 0.5rem;
}

.data-grid {
  background-color: white;
}

.cell {
  padding: 0.125rem 0.25rem;
}

.header-cell {
  font-weight: bold;
  color: inherit;
}
